* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

div.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

header div.header-top {
    color: white;
    background-color: #2d82f9;
    div.container {
        justify-content: end;
    }
    span {
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-left: 3rem;
        padding: 0.2rem;
        cursor: pointer;
    }
}

header div.header-bottom
div.container {
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    img {
    height: 100%;
    padding: 1rem;
    }
    nav ul {
        li {
            list-style: none;
            display: inline;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-size: 0.7rem;
                font-weight: 600;
                padding: 2.6rem 0.5rem;
                .active {
                    color: #2d82f9;
                    border-bottom: 3px solid #2d82f9;
                }
                &:hover {
                    border-bottom: 3px solid #2d82f9;
                }
            }
        }
    }
    div.search {
        height: 25%;
        border-bottom: 2px solid #2d82f9;
        input {
            border: transparent;
            text-align: end;
            margin-right: 0.5rem;
        }
    }
}

section#jumbotron {
    height: 50vh;
    background: url("/images/jumbotron.jpg");
    background-size: cover;
    position: relative;
    span {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #2d82f9;
        padding: 1rem;
        position: absolute;
        top: 93%;
        left: 15%;
    }
}

main {
    height: 60vh;
    background-color: #1c1c1c;
    color: white;
}

footer {
    background: url("/images/footer-bg.jpg");
    div.container {
        height: 40vh;
        position: relative;
        h5 {
        color: white;
        text-transform: uppercase;
        margin: 0.6rem 0;
        }
        li {
        list-style: none;
        a {
            text-decoration: none;
            color: gray;
            font-size: 0.6rem;
            &:hover {
            color: white;
            }
        }
        }
        div.left-col,
        div.central-col,
        div.right-col {
        text-align: start;
        padding: 1rem 0;
        margin-right: 1rem;
        }
        div#dc-logo {
            width: 45%;
            height: 100%;
            background: url("/images/dc-logo-bg.png");
            background-size: cover;
            background-position: center;
            position: absolute;
            right: 0;
        }
    }
}
