* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

div.container {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

header div.header-top {
    color: white;
    background-color: #2d82f9;
    div.container {
        justify-content: end;
    }
    span {
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-left: 3rem;
        padding: 0.2rem;
        cursor: pointer;
    }
}

header div.header-bottom
div.container {
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    img {
    height: 100%;
    padding: 1rem;
    }
    nav ul {
        li {
            list-style: none;
            display: inline;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-size: 0.7rem;
                font-weight: 600;
                padding: 2.6rem 0.5rem;
                .active {
                    color: #2d82f9;
                    border-bottom: 3px solid #2d82f9;
                }
                &:hover {
                    border-bottom: 3px solid #2d82f9;
                }
            }
        }
    }
    div.search {
        height: 25%;
        border-bottom: 2px solid #2d82f9;
        input {
            border: transparent;
            text-align: end;
            margin-right: 0.5rem;
        }
    }
}

section#jumbotron {
    height: 50vh;
    background: url("/images/jumbotron.jpg");
    background-size: cover;
    position: relative;
    span {
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #2d82f9;
        padding: 1rem;
        position: absolute;
        top: 93%;
        left: 15%;
    }
}

div.main {
    background-color: #1c1c1c;
    color: white;
    padding: 2.5rem;
    div.container {
        display: flex;
        flex-wrap: wrap;
    }
    div.cards {
        width: calc(100% / 6);
        height: 250px;
        text-align: center;
        padding: 0.5rem;
        img {
            width: 100%;
            height: 80%;
            object-fit: cover;
            object-position: top;
            margin-bottom: 1rem;
        }
        a {
            text-decoration: none;
            h6 {
                text-transform: uppercase;
                color: white;
            }
        }
    }
}

div.main.bg-white {
    background-color: white;
    color: black;
    padding: 4rem;
    div.container {
        div.left-col {
            width: 70%;
            img {
                width: 200px;
                border: 2px solid white;
                position: absolute;
                top: 30%;
                left: 15%;
            }
            h2 {
                text-transform: uppercase;
            }
            div.top-price-info {
                color: white;
                background-color: #55ba59;
                border-bottom: 1px solid black;
                display: flex;
                margin: 1rem 0;
                div.top-left-price-info {
                    width: 75%;
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem;
                }
                div.top-right-price-info {
                    border-left: 1px solid black;
                    padding: 1rem 0.6rem;
                }
            }
            p#description {
                line-height: 1.75rem;
            }
        }
        div.right-col {
            width: 30%;
            text-align: end;
            padding: 1rem;
            img {
                width: 100%;
                margin-top: 0.5rem;
            }
        }
    }
}

div.main-bottom {
    background-color: #f6f6f6;
    padding: 2rem;
    div.container {
        div.left-column {
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            h2 {
                margin-bottom: 2rem;
            }
            div.artists, div.writers {
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                display: flex;
                justify-content: space-between;
                padding: 0.5rem;
                div.artist-list,div.writer-list {
                    width: 60%;
                    font-size: 0.8rem;
                }
            }
        }
        div.right-column {
            width: 50%;
            padding: 1rem;
            h2 {
                margin-bottom: 2rem;
            }
            div.series,div.price,div.date {
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                padding: 0.5rem;
                h5 {
                    width: 35%;
                    display: inline-block;
                }
            }
        }
    }
}

footer {
    background: url("/images/footer-bg.jpg");
    div.container {
        height: 40vh;
        position: relative;
        h5 {
        color: white;
        text-transform: uppercase;
        margin: 0.6rem 0;
        }
        li {
        list-style: none;
        a {
            text-decoration: none;
            color: gray;
            font-size: 0.6rem;
            &:hover {
            color: white;
            }
        }
        }
        div.left-col,
        div.central-col,
        div.right-col {
        text-align: start;
        padding: 1rem 0;
        margin-right: 1rem;
        }
        div#dc-logo {
            width: 45%;
            height: 100%;
            background: url("/images/dc-logo-bg.png");
            background-size: cover;
            background-position: center;
            position: absolute;
            right: 0;
        }
    }
    div.social-section {
        background-color: #303030;
        div.container {
            height: 15vh;
            justify-content: space-between;
            align-items: center;
            button {
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            border: 1px solid #2d82f9;
            background-color: transparent;
            padding: 0.8rem;
            margin-left: 1rem;
            }
            div.social-logo {
                display: flex;
                h4 {
                color: #2d82f9;
                text-transform: uppercase;
                align-self: center;
                margin-right: 1rem;
                }
                img {
                    margin: 0 0.5rem;
                }
            }
        }
    }
}
